<div class="row">
  @if(track) {
    <div class="col-sm-6 col-12">
      <h1>{{ track.name }}</h1>
      <p>Track on <a [routerLink]="['/album', track.album.id]">{{ track.album.name }}</a></p>
      @for(artist of track.artists; track artist.id) {
        <p>Artist: <a [routerLink]="['/artist', artist.id]">{{ artist.name }}</a></p>
      }
      <p>Duration: {{ track.durationStr }}</p>
      <p>
        <a class="btn btn-light" role="button" [href]="track.url" target="_blank">Open {{ track.name }} on Spotify</a>
      </p>
    </div>
    <div class="col-sm-6 col-12">
      <app-thermometer [popularity]="track.popularity"></app-thermometer>
    </div>
  }
</div>